

/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}

ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
}
li::before {
  content: "• ";
  color: 	#4d6a67;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
}


#instrucciones li {
  font-weight: bold;
  font-size: 100%;
}

h1 {
  background-color: rgb(77,106,103);
  color: rgb(245,245,220);
  font-size: 180%;
  letter-spacing: 3px;
  padding-left: 5%;
}

h2 {
  color: rgb(116,144,121);
}


#juego div {
  text-align: center;
  animation: fadein 2s;
  width: 33%;
  height: 33%;
  border: 1px solid rgb(186,228,229);
  float: left;
}

#juego {
  background-color: rgb(161,190,230);
  width: 600px;
  height: 600px;
}

#juego img {
  width: 100%;
}


#pie p {
  background-color: #32514e;
  font-weight: bold;
  color: #ffffff;
  clear:both;
  height: 15%;
  margin-top: 0%;
  padding: 1% 0% 1% 20%;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
